<template>
	<div class="app-container" :class="{ 'app-mobile': isDevice, 'app-mobile-dark': theme === 'dark' }">
		<button v-for="(role, index) in roleList" 
			@click="setactiveRole(role.rolename)"
			:class="[{roleactive: activeRole === role.rolename}, 'float'+index]"
			:title=role.rolename
		>
				<span v-if="activeRole === role.rolename" @click="$event.target.parentNode.classList.toggle('active')">
					<i class='fas fa-times' style="font-size: 30px;"></i>
				</span>
				<span  v-else >
					{{ role.rolename }}<br>
					<i class='fa fa-comments' ></i>
				</span>

  			   <span v-if="role.rolecount > 0 && activeRole != role.rolename" class="badge-active">{{ role.rolecount }}</span>
	  		</button>
		<div class="fab-container" :class="{ 'app-mobile': isDevice }" :title=activeRole v-if=activeRole>
			<chat-container
				:token="token"
				:currentUserId="currentUserId"
				:role=activeRole		
				:theme="theme"
				:isDevice="isDevice"
				@show-demo-options="showDemoOptions = $event"
				
			/>
		</div>
	</div>
</template>

<script>
const apiUrl = "https://demo.megaavirtualexpo.com/api";

import ChatContainer from './ChatContainer'
export default {
	components: {
		ChatContainer
	},
	props: ['token'],
	data() {
		return {
			theme: 'light',
			showChat: true,
			currentUserId: 0,
			roleList:[],
			isDevice: true,
			showDemoOptions: true,
			updatingData: false,
			activeRole:''
		}
	},
	created() {
		this.interval = setInterval(() => this.fetchrolecounts(), 30000);
	},
	mounted() {
		this.isDevice = window.innerWidth < 500
		window.addEventListener('resize', ev => {
			if (ev.isTrusted) this.isDevice = window.innerWidth < 500
		})

		this.getUserData();
	    this.getRoleList();
	},
	watch: {
		currentUserId() {
			this.showChat = false
			setTimeout(() => (this.showChat = true), 150)
		}
	},
	computed: {
		showOptions() {
			return !this.isDevice || this.showDemoOptions
		}
	},
	methods: {
		setactiveRole: function(newrole){
			if(this.activeRole == newrole){
				this.activeRole = "";
			}
			else{
				this.activeRole = newrole;
			}
		},

		async getUserData() {
			const { data } = await window.axios.get(apiUrl+'api/userdetail', {
				headers: {
				'Authorization': 'Bearer ' + this.token
				}
			} );
			this.currentUserId = data.data.id
			this.role = data.data.role_name			
			// console.log('data'+data.data.id);
		},

		async getRoleList() {
			const { data } = await window.axios.get(apiUrl+'api/roles', {
				headers: {
				'Authorization': 'Bearer ' + this.token
				}
			} );
			
			if(data.success){
				data.data.data.forEach(
						role => this.roleList.push( { roleid: role.id,rolecount: 0, rolename: role.role_name, active: false} )
				);
			}
		},

		async fetchrolecounts() {
			const roleids = this.roleList.map(rm => rm.roleid);
			//const roleids = [4];
			if(roleids){
				const { data } = await window.axios.post(apiUrl+'api/getrolecounts', { roleids },
				{
					headers: {
					'Authorization': 'Bearer ' + this.token
					}
				});

				if(data.success){
					console.log('role--'+JSON.stringify(this.roleList))
					data.data.forEach( 
						c=>{
							for (let [k, v] of Object.entries(c)) {
								//console.log('k---'+k+'v---'+v)
								//this.$set(this.rooms[k], 'unreadCount', v)
								this.roleList.find(rl => rl.roleid == k).rolecount = v
								//console.log('after role--'+JSON.stringify(this.roleList))
							}						
						}
						
					);
				}
			}
        },
	},
}
</script>

<style lang="scss">
body {
	background: #fafafa;
	margin: 0;
}
input {
	-webkit-appearance: none;
}
.app-container {
	font-family: 'Quicksand', sans-serif;
	padding: 2px 30px 2px;
}
.app-mobile {
	padding: 0;
	&.app-mobile-dark {
		background: #131415;
	}
	.user-logged {
		margin: 10px 5px 0 10px;
	}
	select {
		margin: 10px 0;
	}
	.button-theme {
		margin: 10px 10px 0 0;
		.button-github {
			height: 23px;
			img {
				height: 23px;
			}
		}
	}
}
.user-logged {
	font-size: 12px;
	margin-right: 5px;
	margin-top: 10px;
	&.user-logged-dark {
		color: #fff;
	}
}
select {
	height: 20px;
	outline: none;
	border: 1px solid #e0e2e4;
	border-radius: 4px;
	background: #fff;
	margin-bottom: 20px;
}
.button-theme {
	float: right;
	display: flex;
	align-items: center;
	.button-light {
		background: #fff;
		border: 1px solid #46484e;
		color: #46484e;
	}
	.button-dark {
		background: #1c1d21;
		border: 1px solid #1c1d21;
	}
	button {
		color: #fff;
		outline: none;
		cursor: pointer;
		border-radius: 4px;
		padding: 6px 12px;
		margin-left: 10px;
		border: none;
		font-size: 14px;
		transition: 0.3s;
		vertical-align: middle;
		&.button-github {
			height: 30px;
			background: none;
			padding: 0;
			margin-left: 20px;
			img {
				height: 30px;
			}
		}
		&:hover {
			opacity: 0.8;
		}
		&:active {
			opacity: 0.6;
		}
		@media only screen and (max-width: 768px) {
			padding: 3px 6px;
			font-size: 13px;
		}
	}
}
.version-container {
	padding-top: 20px;
	text-align: right;
	font-size: 14px;
	color: grey;
}
  .fab-container {
    // bottom: 75px;
    // right: 30px;
    // top: 45px;
    // width: 650px;
	position: fixed;
	right: 1%;
    //top: 27%;
	bottom: 11%;
    width: 45%;
  }
  .fab-container.app-mobile {
	width: 100%;
  }
  
.float0{
font-size: 10px;
padding: 0px 0px;
position:fixed !important;
width:60px;
height:60px;
bottom:10px;
right:10px;
background-color:#6e6b6b;
color:#FFF;
border-radius:50px;
text-align:center;
box-shadow: 2px 2px 3px #999;
}
.float1{
font-size: 10px;
padding: 0px 0px;
position:fixed !important;
width:60px;
height:60px;
bottom:10px;
right:80px;
background-color:#6e6b6b;
color:#FFF;
border-radius:50px;
text-align:center;
box-shadow: 2px 2px 3px #999;
}
.float2{
font-size: 10px;
padding: 0px 0px;
position:fixed !important;
width:60px;
height:60px;
bottom:10px;
right:150px;
background-color:#6e6b6b;
color:#FFF;
border-radius:50px;
text-align:center;
box-shadow: 2px 2px 3px #999;
}
.float3{
font-size: 10px;
padding: 0px 0px;
position:fixed !important;
width:60px;
height:60px;
bottom:10px;
right:220px;
background-color:#6e6b6b;
color:#FFF;
border-radius:50px;
text-align:center;
box-shadow: 2px 2px 3px #999;
}
.float4{
font-size: 10px;
padding: 0px 0px;
position:fixed !important;
width:60px;
height:60px;
bottom:10px;
right:290px;
background-color:#6e6b6b;
color:#FFF;
border-radius:50px;
text-align:center;
box-shadow: 2px 2px 3px #999;
}

.my-float{
margin-bottom:5px;
}
.vac-card-window{
	height: 450px !important;
}
.roleactive{
	background-color:#ff4c4c;	
}

.badge-active {
	position: relative;
    top: -30px;
    left: 15px;
    border: 3px solid #ff4c4c;
    border-radius: 50%;
    background-color: #ff4c4c;
    font-size: 12px;
}
</style>