<template>
	<div class="window-container" :class="{ 'window-mobile': isDevice }">
		<chat-window
			:showNewMessagesDivider = "true"
			:singleRoom = "singleRoom"
			:showFiles="false"
  			:showEmojis="false"
			:showReactionEmojis="false"
			:token="token"
			:stall="stall"
			:role="role"
			:height="screenHeight"
			:theme="theme"
			:styles="styles"
			:current-user-id="currentUserId"
			:room-id="roomId"
			:rooms="rooms"
			:loading-rooms="loadingRooms"
			:messages="messages"
			:messages-loaded="messagesLoaded"
			:rooms-loaded="roomsLoaded"
			:room-message="roomMessage"
			:room-actions="[]"
			:menu-actions="[]"
			:message-actions="messageActions"
            @send-message="sendMessage"
            @fetch-messages="fetchMessages"
		>
		</chat-window>
	</div>
</template>

<script>
const apiUrl = "https://demo.megaavirtualexpo.com/api";
//import ChatWindow from './../../src/ChatWindow'
// import ChatWindow, { Rooms } from 'vue-advanced-chat'
// import ChatWindow from 'vue-advanced-chat'
 import '/node_modules/vue-advanced-chat/dist/vue-advanced-chat.css'
 import ChatWindow from '/node_modules/vue-advanced-chat/dist/vue-advanced-chat.umd.min.js'
export default {
	components: {
		ChatWindow
	},
	props: ['currentUserId', 'theme', 'isDevice', 'token', 'role', 'stall'],
	data() {
		return {
			roomsPerPage: 15,
			rooms: [],
			roomId: '',
			singleRoom: false,
			startRooms: null,
			endRooms: null,
			roomsLoaded: false,
			loadingRooms: true,
			allUsers: [],
			loadingLastMessageByRoom: 0,
			roomsLoadedCount: false,
			selectedRoom: null,
			messagesPerPage: 20,
			messages: [],
			messagesLoaded: false,
			roomMessage: '',
			startMessages: null,
			endMessages: null,
			roomsListeners: [],
			listeners: [],
			typingMessageCache: '',
			disableForm: false,
			addNewRoom: null,
			addRoomUsername: '',
			inviteRoomId: null,
			invitedUsername: '',
			removeRoomId: null,
			removeUserId: '',
			removeUsers: [],
			messageActions: [
				{
					name: 'replyMessage',
					title: 'Reply'
				}
			],
			//roomActions: [
				// { name: 'inviteUser', title: 'Invite User' },
				// { name: 'removeUser', title: 'Remove User' },
				// { name: 'deleteRoom', title: 'Delete Room' }
			// ],
			// menuActions: [
				// { name: 'inviteUser', title: 'Invite User' },
				// { name: 'removeUser', title: 'Remove User' },
				// { name: 'deleteRoom', title: 'Delete Room' }
			//],
			// messageActions:[
			// 	{
			// 		name: 'replyMessage',
			// 		title: 'Reply'
			// 	},
			// 	{
			// 		name: 'editMessage',
			// 		title: 'Edit Message',
			// 		onlyMe: true
			// 	},
			// 	{
			// 		name: 'deleteMessage',
			// 		title: 'Delete Message',
			// 		onlyMe: true
			// 	}
			// ],
			styles: { container: { borderRadius: '4px' } }
			// ,dbRequestCount: 0
		}
	},
	// created() {
	// 	if(this.stall){
	// 		this.fetchSingleRoom();
	// 	}
	// 	else{
	// 		this.fetchPublicRoom();
	// 		this.fetchMoreRooms();
	// 	}
    // },
	created() {
		this.interval = setInterval(() => this.fetchMessagesofSelectedRoom(), 3000);
		this.interval = setInterval(() => this.fetchMessagescounts(), 3000);
	},
	mounted() {
		this.fetchRooms()
		//this.updateUserOnlineStatus()
	},
	watch: {
		role: function(newVal, oldVal) { // watch it
          //console.log('Prop changed: ', newVal, ' | was: ', oldVal);
		  this.resetRooms();
		  this.fetchPublicRoom();
		  this.fetchMoreRooms();
        }
	},
	destroyed() {
		this.resetRooms()
	},
	computed: {
		loadedRooms() {
			return this.rooms.slice(0, this.roomsLoadedCount)
		},
		screenHeight() {
			return this.isDevice ? window.innerHeight + 'px' : 'calc(100vh - 80px)'
		}
	},
    methods: {
        resetRooms() {
			this.selectedRoom = null
			this.loadingRooms = true
			this.loadingLastMessageByRoom = 0
			this.roomsLoadedCount = 0
			this.rooms = []
			this.roomsLoaded = true
			this.startRooms = null
			this.endRooms = null
			this.roomsListeners.forEach(listener => listener())
			this.roomsListeners = []
			this.resetMessages()
		},

		resetMessages() {
			this.messages = []
			this.messagesLoaded = false
			this.startMessages = null
			this.endMessages = null
			this.listeners.forEach(listener => listener())
			this.listeners = []
		},

		fetchRooms() {
			this.resetRooms()
			
			// if(this.stall == 456734){
				this.fetchPublicRoom()
			// }
			// else if(this.stall){
			// 	this.fetchSingleRoom()
			// }
			// else{
			// 	this.fetchPublicRoom()
			// 	this.fetchMoreRooms()
			// }
		},
		async fetchSingleRoom() {
			this.roomsLoaded = false;
			const rms = []
			const { data } = await window.axios.get(apiUrl+'api/viewuser/'+this.stall, {
					headers: {
					'Authorization': 'Bearer ' + this.token
					}
				});
				if(data.status == "success"){
					rms.push(
						{
							"roomId": data.data.id, 
							"roomName": data.data.name, 
							"unreadCount": 0,
							"users":[
								{
									"_id":data.data.id, 
									"username":data.data.name,
								}
							] 
						}
					)
				}
			this.rooms = rms
		    this.roomsLoaded = true
			this.loadingRooms = false
			//this.singleRoom = true
		},
		
		async fetchPublicRoom() {
			this.roomsLoaded = false;
			const rms = []
			let role = ''
			// if(this.stall == 456734){
			// 	role = admin
			// }else{
              	role = 'admin'
			//}
            const { data } = await window.axios.post(apiUrl+'api/getPublicRoom', { role },
				{
					headers: {
					'Authorization': 'Bearer ' + this.token
					}
				});
				if(data.success){
					data.data.forEach(
						room=>{
							this.rooms.push(
								{
									"roomId": room.unique_id, 
									"roomName": 'Public Chat Room', 
									"index": 1,
									"unreadCount": 0,
									"users":[
										{
											_id: 1,
											username: 'Khushboo'
										},
										{
											_id: 2,
											username: 'Deepak'
										},
										{
											_id: 11,
											username: 'Nikita'
										},
										{
											_id:12,
											username: 'Rosemary Halvorson'
										}
									] 
								}
							)
						}

					);
					if(this.stall == 'admin'){
						this.rooms[0].roomName = 'Questions Answer Room'
					}
				}
				//console.log('in public room-----'+JSON.stringify(rms))
			//this.rooms = rms
			this.loadingRooms = false
			this.roomsLoaded = true
			//console.log('in public room--room---'+JSON.stringify(this.rooms))
        },

		async fetchMoreRooms() {
			this.roomsLoaded = false
			const rms = []
			const { data } = await window.axios.get(apiUrl+'api/user/'+this.role, {
					headers: {
					'Authorization': 'Bearer ' + this.token
					}
				});
				data.aaData.forEach(
					user => {
						if(user.id != this.currentUserId){
							this.rooms.push(
								{
									"roomId": user.id, 
									"roomName": user.name, 
									"unreadCount": 0,
									"users":[
										{
											"_id":user.id, 
											"username":user.name
										}
									] 
								}
							)
						}
					}	
				);
			//console.log('in more room-----'+JSON.stringify(rms))
			//this.$set(this.rooms, rms)
			//this.rooms[roomIndex] = rms
			//this.rooms = [...this.rooms, rms]
			//this.rooms.push(rms)
			this.roomsLoaded = true
			this.loadingRooms = false
		},

        async sendMessage({ content, roomId, file, replyMessage }) {
		    this.messagesLoaded = false
			const message = {
				'text': content,
                'chat_id':roomId,
				'timestamp': new Date()
			}
			// if (replyMessage) {
			// 	message.replyMessage = {
			// 		_id: replyMessage._id,
			// 		content: replyMessage.content,
			// 		sender_id: replyMessage.senderId
			// 	}
			// }
            const { data } = await window.axios.post(apiUrl+'api/send', { message }, {
				headers: {
				'Authorization': 'Bearer ' + this.token
				}
			});
			if(data.success){
				this.messages.push(
					{
						_id: data.data.id,
						content: data.data.message,
						senderId: data.data.from_userid,
						username: data.data.username,
						//avatar: data.avatar,
						date: new Date(data.data.created_at).toDateString(),
						timestamp: new Date(data.data.created_at).toLocaleTimeString(),
						system: false,
						saved: true,
						distributed: true,
						seen: false,
						disableActions: false,
						disableReactions: false,
					}
				)
			}
			this.messagesLoaded = true
		},
		
        async fetchMessages({ room, options }) {
            this.messages = []

            //this.messagesLoaded = false
			this.selectedRoom = room.roomId
            const roomid = room.roomId
            const { data } = await window.axios.post(apiUrl+'api/getMessagesForRoom', { roomid },
				{
					headers: {
					'Authorization': 'Bearer ' + this.token
					}
				});
				if(data.success){
					data.data.forEach(
						msg => this.messages.push(
							{
								_id: msg.id,
								content: msg.message,
								senderId: msg.from_userid,
								username: msg.username,
								//avatar: msg.avatar,
								date: new Date(msg.created_at).toDateString(),
								timestamp: new Date(msg.created_at).toLocaleTimeString(),
								system: false,
								saved: true,
								distributed: true,
								seen: true,
								disableActions: false,
								disableReactions: false,
							}
						)
					);
					// use timeout to imitate async server fetched data
					setTimeout(() => {
						
						this.messagesLoaded = true
					})
				}
				this.messagesLoaded = true	
        },

		async fetchMessagesofSelectedRoom() {
			const roomid = this.selectedRoom
			const status = 'unread'
			if(roomid){
				const { data } = await window.axios.post(apiUrl+'api/getMessagesForRoom', { roomid, status },
				{
					headers: {
					'Authorization': 'Bearer ' + this.token
					}
				});
				if(data.success){
					data.data.forEach(
							msg => { //if(msg.from_userid != this.currentUserId){
									this.messages.push(
									{
										_id: msg.id,
										content: msg.message,
										senderId: msg.from_userid,
										username: msg.username,
										//avatar: msg.avatar,
										date: new Date(msg.created_at).toDateString(),
										timestamp: new Date(msg.created_at).toLocaleTimeString(),
										system: false,
										saved: true,
										distributed: true,
										seen: false,
										disableActions: false,
										disableReactions: false,
									}
								)
							}//}
						);
						// use timeout to imitate async server fetched data
						setTimeout(() => {
							
							this.messagesLoaded = true
						})
				}
				this.messagesLoaded = true	
			}
        },

		async fetchMessagescounts() {
			const roomids = this.rooms.map(rm => rm.roomId);

			if(roomids){
				const { data } = await window.axios.post(apiUrl+'api/getMessagesCounts', { roomids },
				{
					headers: {
					'Authorization': 'Bearer ' + this.token
					}
				});

				if(data.success){
					
					data.data.forEach( 
						c=>{
							for (let [k, v] of Object.entries(c)) {
								//this.$set(this.rooms[k], 'unreadCount', v)
								this.rooms.find(rm => rm.roomId == k).unreadCount = v
							}						
						}
						
					);
				}
			}
        },
    },
    
	// methods: {
	// 	resetRooms() {
	// 		this.loadingRooms = true
	// 		this.loadingLastMessageByRoom = 0
	// 		this.roomsLoadedCount = 0
	// 		this.rooms = []
	// 		this.roomsLoaded = true
	// 		this.startRooms = null
	// 		this.endRooms = null
	// 		this.roomsListeners.forEach(listener => listener())
	// 		this.roomsListeners = []
	// 		this.resetMessages()
	// 	},
	// 	resetMessages() {
	// 		this.messages = []
	// 		this.messagesLoaded = false
	// 		this.startMessages = null
	// 		this.endMessages = null
	// 		this.listeners.forEach(listener => listener())
	// 		this.listeners = []
	// 	},
	// 	fetchRooms() {
	// 		this.resetRooms()
	// 		this.fetchMoreRooms()
	// 	},
	// 	async fetchMoreRooms() {
	// 		if (this.endRooms && !this.startRooms) return (this.roomsLoaded = true)
	// 		let query = roomsRef
	// 			.where('users', 'array-contains', this.currentUserId)
	// 			.orderBy('lastUpdated', 'desc')
	// 			.limit(this.roomsPerPage)
	// 		if (this.startRooms) query = query.startAfter(this.startRooms)
	// 		const rooms = await query.get()
	// 		// this.incrementDbCounter('Fetch Rooms', rooms.size)
	// 		this.roomsLoaded = rooms.empty || rooms.size < this.roomsPerPage
	// 		if (this.startRooms) this.endRooms = this.startRooms
	// 		this.startRooms = rooms.docs[rooms.docs.length - 1]
	// 		const roomUserIds = []
	// 		rooms.forEach(room => {
	// 			room.data().users.forEach(userId => {
	// 				const foundUser = this.allUsers.find(user => user._id === userId)
	// 				if (!foundUser && roomUserIds.indexOf(userId) === -1) {
	// 					roomUserIds.push(userId)
	// 				}
	// 			})
	// 		})
	// 		// this.incrementDbCounter('Fetch Room Users', roomUserIds.length)
	// 		const rawUsers = []
	// 		roomUserIds.forEach(userId => {
	// 			const promise = usersRef
	// 				.doc(userId)
	// 				.get()
	// 				.then(user => user.data())
	// 			rawUsers.push(promise)
	// 		})
	// 		this.allUsers = [...this.allUsers, ...(await Promise.all(rawUsers))]
	// 		const roomList = {}
	// 		rooms.forEach(room => {
	// 			roomList[room.id] = { ...room.data(), users: [] }
	// 			room.data().users.forEach(userId => {
	// 				const foundUser = this.allUsers.find(user => user._id === userId)
	// 				if (foundUser) roomList[room.id].users.push(foundUser)
	// 			})
	// 		})
	// 		const formattedRooms = []
	// 		Object.keys(roomList).forEach(key => {
	// 			const room = roomList[key]
	// 			const roomContacts = room.users.filter(
	// 				user => user._id !== this.currentUserId
	// 			)
	// 			room.roomName =
	// 				roomContacts.map(user => user.username).join(', ') || 'Myself'
	// 			const roomAvatar =
	// 				roomContacts.length === 1 && roomContacts[0].avatar
	// 					? roomContacts[0].avatar
	// 					: require('./assets/pic2.jpg')
	// 			formattedRooms.push({
	// 				...room,
	// 				roomId: key,
	// 				avatar: roomAvatar,
	// 				index: room.lastUpdated.seconds,
	// 				lastMessage: {
	// 					content: 'Room created',
	// 					timestamp: this.formatTimestamp(
	// 						new Date(room.lastUpdated.seconds),
	// 						room.lastUpdated
	// 					)
	// 				}
	// 			})
	// 		})
	// 		this.rooms = this.rooms.concat(formattedRooms)
	// 		formattedRooms.map(room => this.listenLastMessage(room))
	// 		if (!this.rooms.length) {
	// 			this.loadingRooms = false
	// 			this.roomsLoadedCount = 0
	// 		}
	// 		this.listenUsersOnlineStatus(formattedRooms)
	// 		this.listenRooms(query)
	// 		// setTimeout(() => console.log('TOTAL', this.dbRequestCount), 2000)
	// 	},
	// 	listenLastMessage(room) {
	// 		const listener = messagesRef(room.roomId)
	// 			.orderBy('timestamp', 'desc')
	// 			.limit(1)
	// 			.onSnapshot(messages => {
	// 				// this.incrementDbCounter('Listen Last Room Message', messages.size)
	// 				messages.forEach(message => {
	// 					const lastMessage = this.formatLastMessage(message.data())
	// 					const roomIndex = this.rooms.findIndex(
	// 						r => room.roomId === r.roomId
	// 					)
	// 					this.rooms[roomIndex].lastMessage = lastMessage
	// 					this.rooms = [...this.rooms]
	// 				})
	// 				if (this.loadingLastMessageByRoom < this.rooms.length) {
	// 					this.loadingLastMessageByRoom++
	// 					if (this.loadingLastMessageByRoom === this.rooms.length) {
	// 						this.loadingRooms = false
	// 						this.roomsLoadedCount = this.rooms.length
	// 					}
	// 				}
	// 			})
	// 		this.roomsListeners.push(listener)
	// 	},
	// 	formatLastMessage(message) {
	// 		if (!message.timestamp) return
	// 		let content = message.content
	// 		if (message.file)
	// 			content = `${message.file.name}.${message.file.extension ||
	// 				message.file.type}`
	// 		return {
	// 			...message,
	// 			...{
	// 				content,
	// 				timestamp: this.formatTimestamp(
	// 					new Date(message.timestamp.seconds * 1000),
	// 					message.timestamp
	// 				),
	// 				distributed: true,
	// 				seen: message.sender_id === this.currentUserId ? message.seen : null,
	// 				new:
	// 					message.sender_id !== this.currentUserId &&
	// 					(!message.seen || !message.seen[this.currentUserId])
	// 			}
	// 		}
	// 	},
	// 	formatTimestamp(date, timestamp) {
	// 		const timestampFormat = isSameDay(date, new Date()) ? 'HH:mm' : 'DD/MM/YY'
	// 		const result = parseTimestamp(timestamp, timestampFormat)
	// 		return timestampFormat === 'HH:mm' ? `Today, ${result}` : result
	// 	},
	// 	fetchMessages({ room, options = {} }) {
	// 		this.$emit('show-demo-options', false)
	// 		if (options.reset) {
	// 			this.resetMessages()
	// 			this.roomId = room.roomId
	// 		}
	// 		if (this.endMessages && !this.startMessages)
	// 			return (this.messagesLoaded = true)
	// 		let ref = messagesRef(room.roomId)
	// 		let query = ref.orderBy('timestamp', 'desc').limit(this.messagesPerPage)
	// 		if (this.startMessages) query = query.startAfter(this.startMessages)
	// 		this.selectedRoom = room.roomId
	// 		query.get().then(messages => {
	// 			// this.incrementDbCounter('Fetch Room Messages', messages.size)
	// 			if (this.selectedRoom !== room.roomId) return
	// 			if (messages.empty) this.messagesLoaded = true
	// 			if (this.startMessages) this.endMessages = this.startMessages
	// 			this.startMessages = messages.docs[messages.docs.length - 1]
	// 			let listenerQuery = ref.orderBy('timestamp')
	// 			if (this.startMessages)
	// 				listenerQuery = listenerQuery.startAfter(this.startMessages)
	// 			if (this.endMessages)
	// 				listenerQuery = listenerQuery.endAt(this.endMessages)
	// 			if (options.reset) this.messages = []
	// 			messages.forEach(message => {
	// 				const formattedMessage = this.formatMessage(room, message)
	// 				this.messages.unshift(formattedMessage)
	// 			})
	// 			const listener = listenerQuery.onSnapshot(snapshots => {
	// 				// this.incrementDbCounter('Listen Room Messages', snapshots.size)
	// 				this.listenMessages(snapshots, room)
	// 			})
	// 			this.listeners.push(listener)
	// 		})
	// 	},
	// 	listenMessages(messages, room) {
	// 		messages.forEach(message => {
	// 			const formattedMessage = this.formatMessage(room, message)
	// 			const messageIndex = this.messages.findIndex(m => m._id === message.id)
	// 			if (messageIndex === -1) {
	// 				this.messages = this.messages.concat([formattedMessage])
	// 			} else {
	// 				this.$set(this.messages, messageIndex, formattedMessage)
	// 			}
	// 			this.markMessagesSeen(room, message)
	// 		})
	// 	},
	// 	markMessagesSeen(room, message) {
	// 		if (
	// 			message.data().sender_id !== this.currentUserId &&
	// 			(!message.data().seen || !message.data().seen[this.currentUserId])
	// 		) {
	// 			messagesRef(room.roomId)
	// 				.doc(message.id)
	// 				.update({
	// 					[`seen.${this.currentUserId}`]: new Date()
	// 				})
	// 		}
	// 	},
	// 	formatMessage(room, message) {
	// 		const senderUser = room.users.find(
	// 			user => message.data().sender_id === user._id
	// 		)
	// 		const { sender_id, timestamp } = message.data()
	// 		return {
	// 			...message.data(),
	// 			...{
	// 				senderId: sender_id,
	// 				_id: message.id,
	// 				seconds: timestamp.seconds,
	// 				timestamp: parseTimestamp(timestamp, 'HH:mm'),
	// 				date: parseTimestamp(timestamp, 'DD MMMM YYYY'),
	// 				username: senderUser ? senderUser.username : null,
	// 				// avatar: senderUser ? senderUser.avatar : null,
	// 				distributed: true
	// 			}
	// 		}
	// 	},
	// 	async sendMessage({ content, roomId, file, replyMessage }) {
	// 		const message = {
	// 			sender_id: this.currentUserId,
	// 			content,
	// 			timestamp: new Date()
	// 		}
	// 		if (file) {
	// 			message.file = {
	// 				name: file.name,
	// 				size: file.size,
	// 				type: file.type,
	// 				extension: file.extension || file.type,
	// 				url: file.localUrl
	// 			}
	// 			if (file.audio) {
	// 				message.file.audio = true
	// 				message.file.duration = file.duration
	// 			}
	// 		}
	// 		if (replyMessage) {
	// 			message.replyMessage = {
	// 				_id: replyMessage._id,
	// 				content: replyMessage.content,
	// 				sender_id: replyMessage.senderId
	// 			}
	// 			if (replyMessage.file) {
	// 				message.replyMessage.file = replyMessage.file
	// 			}
	// 		}
	// 		const { id } = await messagesRef(roomId).add(message)
	// 		if (file) this.uploadFile({ file, messageId: id, roomId })
	// 		roomsRef.doc(roomId).update({ lastUpdated: new Date() })
	// 	},
		
	// 	async openUserTag({ user }) {
	// 		let roomId
	// 		this.rooms.forEach(room => {
	// 			if (room.users.length === 2) {
	// 				const userId1 = room.users[0]._id
	// 				const userId2 = room.users[1]._id
	// 				if (
	// 					(userId1 === user._id || userId1 === this.currentUserId) &&
	// 					(userId2 === user._id || userId2 === this.currentUserId)
	// 				) {
	// 					roomId = room.roomId
	// 				}
	// 			}
	// 		})
	// 		if (roomId) return (this.roomId = roomId)
	// 		const query1 = await roomsRef
	// 			.where('users', '==', [this.currentUserId, user._id])
	// 			.get()
	// 		if (!query1.empty) {
	// 			return this.loadRoom(query1)
	// 		}
	// 		let query2 = await roomsRef
	// 			.where('users', '==', [user._id, this.currentUserId])
	// 			.get()
	// 		if (!query2.empty) {
	// 			return this.loadRoom(query2)
	// 		}
	// 		const room = await roomsRef.add({
	// 			users: [user._id, this.currentUserId],
	// 			lastUpdated: new Date()
	// 		})
	// 		this.roomId = room.id
	// 		this.fetchRooms()
	// 	},
	// 	async loadRoom(query) {
	// 		query.forEach(async room => {
	// 			if (this.loadingRooms) return
	// 			await roomsRef.doc(room.id).update({ lastUpdated: new Date() })
	// 			this.roomId = room.id
	// 			this.fetchRooms()
	// 		})
	// 	},
	// 	typingMessage({ message, roomId }) {
	// 		if (!roomId) return
	// 		if (message?.length > 1) {
	// 			return (this.typingMessageCache = message)
	// 		}
	// 		if (message?.length === 1 && this.typingMessageCache) {
	// 			return (this.typingMessageCache = message)
	// 		}
	// 		this.typingMessageCache = message
	// 		const dbAction = message
	// 			? firebase.firestore.FieldValue.arrayUnion(this.currentUserId)
	// 			: firebase.firestore.FieldValue.arrayRemove(this.currentUserId)
	// 		roomsRef.doc(roomId).update({
	// 			typingUsers: dbAction
	// 		})
	// 	},
	// 	async listenRooms(query) {
	// 		const listener = query.onSnapshot(rooms => {
	// 			// this.incrementDbCounter('Listen Rooms Typing Users', rooms.size)
	// 			rooms.forEach(room => {
	// 				const foundRoom = this.rooms.find(r => r.roomId === room.id)
	// 				if (foundRoom) {
	// 					foundRoom.typingUsers = room.data().typingUsers
	// 					foundRoom.index = room.data().lastUpdated.seconds
	// 				}
	// 			})
	// 		})
	// 		this.roomsListeners.push(listener)
	// 	},
	// 	updateUserOnlineStatus() {
	// 		const userStatusRef = firebase
	// 			.database()
	// 			.ref('/status/' + this.currentUserId)
	// 		const isOfflineData = {
	// 			state: 'offline',
	// 			lastChanged: firebase.database.ServerValue.TIMESTAMP
	// 		}
	// 		const isOnlineData = {
	// 			state: 'online',
	// 			lastChanged: firebase.database.ServerValue.TIMESTAMP
	// 		}
	// 		firebase
	// 			.database()
	// 			.ref('.info/connected')
	// 			.on('value', snapshot => {
	// 				if (snapshot.val() == false) return
	// 				userStatusRef
	// 					.onDisconnect()
	// 					.set(isOfflineData)
	// 					.then(() => {
	// 						userStatusRef.set(isOnlineData)
	// 					})
	// 			})
	// 	},
	// 	listenUsersOnlineStatus(rooms) {
	// 		rooms.map(room => {
	// 			room.users.map(user => {
	// 				const listener = firebase
	// 					.database()
	// 					.ref('/status/' + user._id)
	// 					.on('value', snapshot => {
	// 						if (!snapshot || !snapshot.val()) return
	// 						const lastChanged = this.formatTimestamp(
	// 							new Date(snapshot.val().lastChanged),
	// 							new Date(snapshot.val().lastChanged)
	// 						)
	// 						user.status = { ...snapshot.val(), lastChanged }
	// 						const roomIndex = this.rooms.findIndex(
	// 							r => room.roomId === r.roomId
	// 						)
	// 						this.$set(this.rooms, roomIndex, room)
	// 					})
	// 				this.roomsListeners.push(listener)
	// 			})
	// 		})
	// 	}		
	// }
}
</script>

<style lang="scss" scoped>
.window-container {
	width: 100%;
}

.window-mobile {
	form {
		padding: 0 10px 10px;
	}
}

form {
	padding-bottom: 20px;
}

input {
	padding: 5px;
	width: 140px;
	height: 21px;
	border-radius: 4px;
	border: 1px solid #d2d6da;
	outline: none;
	font-size: 14px;
	vertical-align: middle;

	&::placeholder {
		color: #9ca6af;
	}
}

button {
	background: #1976d2;
	color: #fff;
	outline: none;
	cursor: pointer;
	border-radius: 4px;
	padding: 8px 12px;
	margin-left: 10px;
	border: none;
	font-size: 14px;
	transition: 0.3s;
	vertical-align: middle;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.6;
	}

	&:disabled {
		cursor: initial;
		background: #c6c9cc;
		opacity: 0.6;
	}
}

.button-cancel {
	color: #a8aeb3;
	background: none;
	margin-left: 5px;
}

select {
	vertical-align: middle;
	height: 33px;
	width: 152px;
	font-size: 13px;
	margin: 0 !important;
}
</style>