<template>
	<div>
		<div
			class="app-container"
			:class="{ 'app-mobile': isDevice, 'app-mobile-dark': theme === 'dark' }"
		>
	
			<chat-container
				:token="token"
				:stall="stall"
				:currentUserId="currentUserId"
				:role="role"				
				:theme="theme"
				:isDevice="isDevice"
				@show-demo-options="showDemoOptions = $event"
				v-if="role"
			/>
			
		</div>
	</div>
</template>

<script>
const apiUrl = "https://demo.megaavirtualexpo.com/api";

import ChatContainer from './ChatContainer'
export default {
	components: {
		ChatContainer
	},
	props: ['token', 'stall'],
	data() {
		return {
			theme: 'light',
			showChat: true,
			currentUserId: 0,
			role:'',
			isDevice: false,
			showDemoOptions: true,
			updatingData: false
		}
	},
	mounted() {
		this.isDevice = window.innerWidth < 500
		window.addEventListener('resize', ev => {
			if (ev.isTrusted) this.isDevice = window.innerWidth < 500
		})
	},
	watch: {
		currentUserId() {
			this.showChat = false
			setTimeout(() => (this.showChat = true), 150)
		}
	},
	computed: {
		showOptions() {
			return !this.isDevice || this.showDemoOptions
		}
	},
	methods: {
		async getUserData() {
			const { data } = await window.axios.get(apiUrl+'api/userdetail', {
				headers: {
				'Authorization': 'Bearer ' + this.token
				}
			} );
			this.currentUserId = data.data.id
			this.role = data.data.role_name			
			// console.log('data'+data.data.id);
		}
	},
    created() {
      this.getUserData();
    }
}
</script>

<style lang="scss">
body {
	background: #fafafa;
	margin: 0;
}
input {
	-webkit-appearance: none;
}
.app-container {
	font-family: 'Quicksand', sans-serif;
	padding: 2px 30px 2px;
}
.app-mobile {
	padding: 0;
	&.app-mobile-dark {
		background: #131415;
	}
	.user-logged {
		margin: 10px 5px 0 10px;
	}
	select {
		margin: 10px 0;
	}
	.button-theme {
		margin: 10px 10px 0 0;
		.button-github {
			height: 23px;
			img {
				height: 23px;
			}
		}
	}
}
.user-logged {
	font-size: 12px;
	margin-right: 5px;
	margin-top: 10px;
	&.user-logged-dark {
		color: #fff;
	}
}
select {
	height: 20px;
	outline: none;
	border: 1px solid #e0e2e4;
	border-radius: 4px;
	background: #fff;
	margin-bottom: 20px;
}
.button-theme {
	float: right;
	display: flex;
	align-items: center;
	.button-light {
		background: #fff;
		border: 1px solid #46484e;
		color: #46484e;
	}
	.button-dark {
		background: #1c1d21;
		border: 1px solid #1c1d21;
	}
	button {
		color: #fff;
		outline: none;
		cursor: pointer;
		border-radius: 4px;
		padding: 6px 12px;
		margin-left: 10px;
		border: none;
		font-size: 14px;
		transition: 0.3s;
		vertical-align: middle;
		&.button-github {
			height: 30px;
			background: none;
			padding: 0;
			margin-left: 20px;
			img {
				height: 30px;
			}
		}
		&:hover {
			opacity: 0.8;
		}
		&:active {
			opacity: 0.6;
		}
		@media only screen and (max-width: 768px) {
			padding: 3px 6px;
			font-size: 13px;
		}
	}
}
.version-container {
	padding-top: 20px;
	text-align: right;
	font-size: 14px;
	color: grey;
}
 
</style>